#header{
    width: 1366px;
    height: 192px;
    background: pink;
}
/* 放大镜主体内容开始 */
.content{
	width: 1000px;
	margin: 0 auto;
}
#fdj_wrapper{
    height:734px;
    
}
.fdj{
    height: 734px;
}
.fdj .fdj_top{
    height: 40px;
    line-height: 40px;
}
.fdj_middle{
    display: flex;
    justify-content: space-between;
}
.fdj_middle_right{
    width: 552px;
    height: 537px;
    background: #dbcad3;
    box-sizing: border-box;
    border-bottom: 1px dashed #e2e2e2;
}
.show_img{
    width: 420px;
    height: 420px;
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
    cursor: crosshair;
}
.show_img img {
    opacity: 1;

}
.show_img .filter{
    width: 147px;
    height: 147px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    /* background: rgba(0, 0, 0, 0.6); */
    cursor: crosshair;
}
.largest_img {
    position: absolute;
    left: 175px;
    top: 232px;
    width: 420px;
    height: 420px;
    overflow: hidden;
    display: block;
    z-index: -1;
    
}
.largest_img img{
    position: absolute;
    left: 0px;
    top: 0px;
}



.img-box {
    position: relative;
    top: 7px;
    left: -3px;
    

}
.img-box li{
    display: inline-block;
    width: 64px;
    height: 64px;
}
.img-box>li {
    border: 1px solid transparent;
}

.img-box>li img {
    max-width: 100%;
    max-height: 100%;
    
}
.img-box>li.active {
    border: 1px solid #f20e86;
}
.fdj_middle .fdj_midb{
    height: 46px;
    width: 420px;
    box-sizing: border-box;
    padding: 13px 0px;
    border-bottom: 1px dashed #e2e2e2;
    /* background: #f20e86; */
    position: relative;
    top: 4px;
    left: -1px;
}
.fdj_midb p{
    margin-top: 1px;
    display: inline-block;
    color: #999999;
}
.fdj_midb .shoucang_icon{
    display: inline-block;
    height: 15px;
    width: 16px;
    background: url(../images/fdj_icon.png) no-repeat;
    background-position: -543px -150px;
    vertical-align: middle;
    text-align: center;
    margin: 0 6px 1px 20px;
}
.fdj_midb .shoucang{
    color: #999999;
    cursor: pointer;
}
.fdj_midb .shoucang:hover{
    color: #f20e86;
}
.fdj_midb .share{
    display: block;
    width: 94px;
    height: 24px;
    border: 1px solid #c2c2c2;
    line-height: 22px;
    box-sizing: border-box;
    padding: 0 4px;
    float: right;
}
.share:hover{
    border-bottom-color: #ffffff;
    
}
.share>i{
    display: inline-block;
    width: 15px;
    height: 12px;
    background: url(../images/fdj_icon2.png) no-repeat;
    background-position: -16px -19px;
}
.share p{
    color: #333333;
}
.share>span{
    display:inline-block;
    width: 8px;
    height: 5px;
    background: url(../images/fdj_icon4.png) no-repeat;
    background-position: -43px -206px;
}
.share:hover>span{
    background: url(../images/fdj_icon4.png) no-repeat;
    background-position: -15px -205px;
}
.share .share_app{
    /* display: inline-block; */
    width: 126px;
    height: 28px;
    position: absolute;
    border: 1px solid #c2c2c2;
    right:-32px;
    top: 36px;
    display: none;
    box-sizing: border-box;
    padding-top: 2px;
    
}
.share:hover .share_app{
    display: block;
    z-index: -1;
   
}
.share_app li{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.share_app li:nth-child(1){
    background: url(../images/share_icon.png) no-repeat;
    background-position: -30px 0;
   
}
.share_app li:nth-child(2){
    background: url(../images/share_icon.png) no-repeat;
    background-position: -240px 0;
   
}
.share_app li:nth-child(3){
    background: url(../images/share_icon.png) no-repeat;
    background-position: -210px 0;
   
}
.share_app li:nth-child(4){
    background: url(../images/share_icon.png) no-repeat;
    background-position: 0 0;
   
}