#header{
    width: 1366px;
    height: 192px;
    background: pink;
}
/* 放大镜主体内容开始 */
.content{
	width: 1000px;
	margin: 0 auto;
}
#fdj_wrapper{
    height:734px;
    
}
.fdj{
    height: 734px;
}
.fdj .fdj_top{
    height: 40px;
    line-height: 40px;
}
.fdj_middle{
    display: flex;
    justify-content: space-between;
}

.show_img{
    width: 420px;
    height: 420px;
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
    cursor: crosshair;
}
.show_img img {
    opacity: 1;

}
.show_img .filter{
    width: 147px;
    height: 147px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    /* background: rgba(0, 0, 0, 0.6); */
    cursor: crosshair;
}
.largest_img {
    position: absolute;
    left: 175px;
    top: 232px;
    width: 420px;
    height: 420px;
    overflow: hidden;
    display: block;
    z-index: -1;
    
}
.largest_img img{
    position: absolute;
    left: 0px;
    top: 0px;
}



.img-box {
    position: relative;
    top: 7px;
    left: -3px;
    

}
.img-box li{
    display: inline-block;
    width: 64px;
    height: 64px;
}
.img-box>li {
    border: 1px solid transparent;
}

.img-box>li img {
    max-width: 100%;
    max-height: 100%;
    
}
.img-box>li.active {
    border: 1px solid #f20e86;
}
.fdj_middle .fdj_midb{
    height: 46px;
    width: 420px;
    box-sizing: border-box;
    padding: 13px 0px;
    border-bottom: 1px dashed #e2e2e2;
    /* background: #f20e86; */
    position: relative;
    top: 4px;
    left: -1px;
}
.fdj_midb p{
    margin-top: 1px;
    display: inline-block;
    color: #999999;
}
.fdj_midb .shoucang_icon{
    display: inline-block;
    height: 15px;
    width: 16px;
    background: url(../images/fdj_icon.png) no-repeat;
    background-position: -543px -150px;
    vertical-align: middle;
    text-align: center;
    margin: 0 6px 1px 20px;
}
.fdj_midb .shoucang{
    color: #999999;
    cursor: pointer;
}
.fdj_midb .shoucang:hover{
    color: #f20e86;
}
.fdj_midb .share{
    display: block;
    width: 94px;
    height: 24px;
    border: 1px solid #c2c2c2;
    line-height: 22px;
    box-sizing: border-box;
    padding: 0 4px;
    float: right;
}
.share:hover{
    border-bottom-color: #ffffff;
    
}
.share>i{
    display: inline-block;
    width: 15px;
    height: 12px;
    background: url(../images/fdj_icon2.png) no-repeat;
    background-position: -16px -19px;
}
.share p{
    color: #333333;
}
.share>span{
    display:inline-block;
    width: 8px;
    height: 5px;
    background: url(../images/fdj_icon4.png) no-repeat;
    background-position: -43px -206px;
    margin-bottom: 2px;
}
.share:hover>span{
    background: url(../images/fdj_icon4.png) no-repeat;
    background-position: -15px -205px;
}
.share .share_app{
    /* display: inline-block; */
    width: 126px;
    height: 28px;
    position: absolute;
    border: 1px solid #c2c2c2;
    right:-32px;
    top: 36px;
    display: none;
    box-sizing: border-box;
    padding-top: 2px;
    
}
.share:hover .share_app{
    display: block;
    z-index: -1;
   
}
.share_app li{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.share_app li:nth-child(1){
    background: url(../images/share_icon.png) no-repeat;
    background-position: -30px 0;
   
}
.share_app li:nth-child(2){
    background: url(../images/share_icon.png) no-repeat;
    background-position: -240px 0;
   
}
.share_app li:nth-child(3){
    background: url(../images/share_icon.png) no-repeat;
    background-position: -210px 0;
   
}
.share_app li:nth-child(4){
    background: url(../images/share_icon.png) no-repeat;
    background-position: 0 0;
   
}
/* 放大镜主体部分右边开始 */
.fdj_middle_right{
    width: 552px;
    height: 537px;
    /* background: #dbcad3; */
    box-sizing: border-box;
    border-bottom: 1px dashed #e2e2e2;
    position: relative;
}
#clock{
    display: block;
    width: 164px;
    height: 18px;
    background: #333333 url(../images/haomiao.gif) no-repeat; 
    background-position: 148px 4px;
    color: #ffffff; 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;   
    padding-left: 13px;
    box-sizing: border-box;
    line-height: 18px;
    position: absolute;
    right: 0;
}
.brand{
    color: #777578;
    line-height: 18px;
    font-size: 12px;
    font-family: \5FAE\8F6F\96C5\9ED1,sans-serif;
}
.trade_name{
    font-size: 16px;
    color: #333;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
    font-family: \5FAE\8F6F\96C5\9ED1,sans-serif;
}
.trade_ps{
    font-size: 14px;
    color: #999;
    max-height: 85px;
    /* line-height: 14px; */
    margin-bottom: 14px;
}
.price{
    background: #faf5f8 url(../images/zhekou.jpg) no-repeat 99px 23px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    /* position: relative; */
    width: 552px;
    height: 85px;
    color: #f43499;
    font-size: 48px;
    line-height: 85px;
    font-weight: 400;

}
.price span{
    font-size: 20px;
    font-family: arial;
    margin-left: 20px;
}
.peisong{
    float: left;
    font-size: 12px;
    width: 40px;
    text-align: left;
    color: #999;
    line-height: 32px;
    overflow: hidden;
}
.address{
    width: 250px;
    height:30px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    left: 42px;
}
.address select{
    width: 250px;
    height:30px;
    cursor: pointer;
    position: absolute;
    border: none;
    left: 0px;
}
.yunfei{
    padding: 12px 11px 0;
    position: relative;
    z-index: 11;
    margin-left: -11px;
    zoom: 1;
    min-height: 40px;
}
.yunfei dt{
    float: left;
    font-size: 12px;
    width: 40px;
    text-align: left;
    color: #999;
    line-height: 32px;
    height: 32px;
}
.yunfei dd{
    color: #666;
    line-height: 32px;
}
.size{
    padding: 12px 11px 0;
    position: relative;
    margin-left: -11px;
    zoom: 1;
    min-height: 40px;
}
.size dt{
    float: left;
    font-size: 12px;
    width: 40px;
    text-align: left;
    color: #999;
    line-height: 32px;
}
.size dd{
    position: relative;
    zoom: 1;
    width: 68px;
    height: 26px;
    border: 2px solid #f43499;
    text-align: center;
    line-height: 26px;
    float: left;
    cursor: pointer;
}
.size dd .fit{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 17px;
    height: 16px;
    background: url(../images/fdj_icon.png) no-repeat;
    background-position: -500px -150px;
}
.size .select_size{
    width: 378px;
    height: 48px;
    background: #fff;
    position: absolute;
    right: -156px;
    top: 38px;    
    display: none;
    cursor: pointer;
    border: 1px solid #dbdada;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    color: #4d4d4d;
}
.size dd:hover .select_size{
    display: block;
    z-index: 100;
}
.select_size .lingxing{
    width: 376px;
    height: 10px;
    position: relative;
    top: -10px;
}
.lingxing i:nth-child(1){
    width: 14px;
    height: 14px;
    text-shadow: 0 0 4px rgba(0,0,0,.15);
    color: #dbdada;
    font: 400 12px/14px \5B8B\4F53,Hiragino Sans GB;
    position: absolute;
    top: 3px;
    text-align: left;
}
.lingxing i:nth-child(2){
    position: absolute;
    width: 14px;
    text-align: left;
    height: 14px;
    font: 400 12px/14px \5B8B\4F53,Hiragino Sans GB;
    color: #fff;
    top: 5px;
}
.select_size ul{
    width: 339px;
    height: 25px;
    background: #f5f5f5;
    margin-left: 20px;
    display: flex;
}
.select_size ul li{
    display: inline-block;
    
}
.select_size ul li:nth-child(1){
    width: 139px;
    height: 25px;
    border-right: 2px solid #fff;
    text-align: left;
}
.count_dl{
    padding: 11px 10px;
    position: relative;
    height: 30px;
    margin: -1px 0 0 -10px;
    padding-bottom: 10px;
}
.count_dl dt{
    float: left;
    font-size: 12px;
    width: 40px;
    text-align: left;
    color: #999;
    line-height: 32px;
}
.count_dl dd{
    justify-content: space-between;
    height: 28px;
    width: 73px;
    border: 1px solid #b3b3b3;
    display: flex;
    text-align: center;
    line-height: 28px;
}
.count_dl dd span{
    display: inline-block;
    width: 30px;
    height: 28px;
    font-weight: 400;
}
.count_dl dd button{
    border: none;
    outline: none;
    height: 28px;
    width: 21px;
    background-color: #eee8e8;
    color: #7d7c7c;
    font-weight: 400;
    font-size: 20px;
}
.confirm_submission{
    width: 198px;
    height: 46px;
    outline-style: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 46px;
    background: #f10180 url(../images/gouwudai_03.jpg) no-repeat;
    background-position: 41px 13px;
    box-sizing: border-box;
    padding-left: 38px;
    text-align: center;
    margin-left: 40px;
}
.vip{
    color: #999;
    margin: 16px 0 0 40px;
}
.vip span{
    color: #f62e99;
}