#header_wrapper{
    height: 78px;
    background: #ffffff;
    border-bottom: 2px solid #f3168a;
}
.header{
    height: 78px;
    background: #ffffff;
}
.content{
    width: 962px;
    margin: 0 auto;
}
.shop_car_logo{
    width: 194px;
    height: 48px;
    float: left;
    margin-top: 16px;
}
.shop_car_logo a{
    display: block;
    width: 194px;
    height: 48px;
    background: url(../images/shop_caricon.png) no-repeat;
    background-position: -288px 0px;
    text-indent: -9999px;
}
.header_right{
    float: right;
    /* background: pink; */
    width: 585px;
    height: 78px;
    box-sizing: border-box;
    padding-right: 16px; 
}
.header_right_top{
    display: flex;
    padding-top: 10px;
}
.header_right_top .user_info{
    /* width: 246px; */
    height: 26px;
}
.user_info span {
    color: grey;
}
.user_info span a:nth-child(1):hover{
    color: #000000;
}
.user_info span a:nth-child(2){
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/fdj_icon3.png) no-repeat;
    background-position: -62px -238px;
    vertical-align: middle;
    margin-right: 18px;
}
.user_info .quite{
    margin-right: 18px;
}
.user_info .quite:hover{
    color: #000000;
}
.user_info .order_management:hover{
    color: #000000;
}
.header_right_top .vertical_bar{
    margin: 0 13px;
    color: #b3b3b3;
}
.phone_num{
    color: #808080;
}
.phone_num i{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(../images/icon_phone.jpg) no-repeat;
    vertical-align: middle;
}
.customer_service i{
    display: inline-block;
    width: 11px;
    height: 14px;
    background: url(../images/icon_kefu.jpg) no-repeat;
    vertical-align: middle;
}
.customer_service a:hover{
    color: #000000;
}
.members{
    position: relative;
}
.members i {
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url(../images/icon_huiyuan.jpg) no-repeat;
    vertical-align: middle;
}
.members span{
    display:inline-block;
    width: 8px;
    height: 5px;
    background: url(../images/fdj_icon4.png) no-repeat;
    background-position: -43px -206px;
    margin-bottom: 2px;
}

.members:hover span{
    background: url(../images/fdj_icon4.png) no-repeat;
    background-position: -15px -205px;
}
.members .service_center{
    display: none;
    position: absolute;
    padding: 8px 24px 0 12px;
    width: 118px;
    border: 1px solid #cbcaca;
    border-radius: 0;
    top: -9px;
    left: -13px;
    box-sizing: border-box;
    box-shadow: 1px 1px 12px #a0a0a0;
}
.members .service_center ul li:nth-child(2){
    text-align: right;
    margin-right: 14px;
    
}
.members .service_center ul li:nth-child(3){
    text-align: right;
    margin-right: 14px;
    margin-top: 8px;
}
.members .service_center ul li:nth-child(4){
    text-align: right;
    margin: 8px 14px 4px 0px;
}
.members:hover .service_center{
    display: block;
    z-index: 1000;
    background: #ffffff;
    
}
.members:hover .service_center ul li:nth-child(1) a{
    color: #000000;
}
.header_right .ensure{
    margin-left: 169px;
}
.header_right .ensure li{
    display: inline-block;
}
.header_right .ensure li:nth-child(1) i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/shop_caricon2.png) no-repeat;
    background-position: -587px -145px;
    vertical-align: middle;
    margin-right: 17px;
}
.header_right .ensure li:nth-child(2) i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/shop_caricon2.png) no-repeat;
    background-position: -432px -253px;
    vertical-align: middle;
    margin: 0 16px 0 25px;
}
.header_right .ensure li:nth-child(3) i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/shop_caricon2.png) no-repeat;
    background-position: -587px -169px;
    vertical-align: middle;
    margin: 0 16px 0 25px;
}
/* 头部结束 */
/* 购物车主题内容开始 */
#mainpart_wrapper{
    height: 500px;
    /* background: pink; */
}
.mainpart{
    height: 500px;
    /* background: yellow; */
   
}
.mainpart_top_wrapper{
    background: #f9f9f9;
    display: none;
}
.mainpart_top{
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 410px;
    display: flex;
    box-sizing: border-box;

}
.mainpart_top_left{
    width:116px;
    height: 116px;
    background: url(../images/shop_caricon.png) no-repeat;
    background-position: -126px -159px;
    margin-right: 30px;
}
.mainpart_top_right{
    padding-top: 5px;
}
.mainpart_top_right h3{
    font-size: 18px;
    font-weight: bold;
}
.mainpart_top_right p{
    margin-right: 10px;
    font-size: 14px;
}
.mainpart_top_right p .question_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/question_icon.jpg) no-repeat;
    vertical-align: middle;
    margin-left: 16px;
}
.yijian_btn{
    width: 143px;
    height: 32px;
    cursor: pointer;
    outline: 0;
    background-color: #f10180;
    border: 1px solid #f10180;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    margin-top: 22px;
    transition: all linear 0.3s;
}
.yijian_btn:hover{
    opacity: 0.8;
}



.mainpart_bottom{

}
.temai_clock{
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 30px;
    font-weight: 700;
}
.temai_clock a:nth-of-type(1){
    color: #f10180;
    display: inline-block;
    border-bottom: 3px solid #f10180;
    /* position: relative; */
    bottom: -1px;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 10px;
    margin-right: 10px;
}
.shugang{
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 15px 0;
    border-left: 1px solid #d0d0d0;
    margin-right: 10px;
    position: relative;
    top: 16px;
}
.temai_clock a:nth-of-type(2){
    /* position: relative; */
    bottom: -1px;
    display: inline-block;
    font-size: 16px;
    color: #333;
    padding: 15px 10px;
    margin-right: 10px;
}

.insert_box{

}
.insert_box .peisong_address{
    margin-bottom: 30px;
}
.peisong{
    font-size: 18px;
    vertical-align: bottom;
    height: 25px;
    max-width: 460px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.peisong em{
    font-weight: 700;
    margin-left: 5px;
}
.peisong_address .fenge{
    font-size: 18px;
    color: #c4c4c4;
    margin: 0 13px;
}
.tips{

}
.tips p{
    font-size: 15px;
    color: #666;
}
.tips .question_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/question_icon.jpg) no-repeat;
}
.shopcar_table table{
   
}
.shopcar_table table thead{
    /* display: inline-block; */
    width: 958px;
    height: 40px;
    background-color: #f9f9f9;
}
.shopcar_table table thead tr{
    width: 958px;
    height: 40px;
   
}
.shopcar_table table thead tr th{
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    
}
.shopcar_table table thead tr th:nth-child(1){
    border-left: 2px solid #f10180;
    text-align: left;
    padding-left: 14px;
    color: #f10180;
    font-size: 16px;
    width: 283px;
    height: 38px;
}
.shopcar_table table thead tr th:nth-child(2){
    width: 300px;
}
.shopcar_table table thead tr th:nth-child(3){
    width: 100px;
}
.shopcar_table table thead tr th:nth-child(4){
    width: 145px;
}
.shopcar_table table thead tr th:nth-child(5){
    width: 115px;
    border-right: 1px solid #e0e0e0;
}
.shopcar_table table tbody{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.shopcar_table table tbody tr td{
    /* font-size: 12px; */
    /* color: #333333; */
    /* font-weight: normal; */
    /* border-top: 1px solid #e0e0e0; */
    /* border-bottom: 1px solid #e0e0e0; */
    
}
.shopcar_table table tbody tr{
    text-align: center;
    white-space: wrap;
}
.shopcar_table table tbody tr td:nth-child(1){
    border: 1px solid #e0e0e0;
    border-right: none;
    border-top: none;
    color: #d0d0d0;
    padding: 20px 0 15px 25px;
}
.shopcar_table table tbody tr td:nth-child(1) .trade_box{
    display: flex;
    width: 283px;
}
.shopcar_table table tbody tr td:nth-child(1) .trade_img a{
    width: 64px;
    height: 64px;
    background: url(../images/1_small.jpg) no-repeat;
    border: 1px solid  #f0f0f0;
    margin-right: 13px;
    cursor: pointer;
    display: block;
}
.shopcar_table table tbody tr td:nth-child(1) .trade_name{
    width: 174px;
}
.shopcar_table table tbody tr td:nth-child(1) .trade_name span{
    color: #f10180;
}
.shopcar_table table tbody tr td:nth-child(1) .trade_name a{
    color: #333;
}
.shopcar_table table tbody tr td:nth-child(1) .trade_name a:hover{
    color: #f10180;
}
.shopcar_table table tbody tr td:nth-child(2){
    font-family: Microsoft YaHei!important;
    border-bottom: 1px solid #e0e0e0;
}
.shopcar_table table tbody tr td:nth-child(3){
    border-bottom: 1px solid #e0e0e0;
}
.shopcar_table table tbody tr td:nth-child(3) .button_box{
    justify-content: space-between;
    height: 24px;
    width: 74px;
    border: 1px solid #b3b3b3;
    display: flex;
    text-align: center;
    line-height: 24px;
    margin: 20px auto;
}
.shopcar_table table tbody tr td:nth-child(3) .button_box span{
    display: inline-block;
    width: 30px;
    height: 24px;
    font-weight: 400;
    border: 1px solid #b3b3b3;
    border-top: none;
    border-bottom: none;
}
.shopcar_table table tbody tr td:nth-child(3) .button_box button{
    border: none;
    outline: none;
    height: 24px;
    width: 21px;
    background-color: #eee8e8;
    color: #7d7c7c;
    font-weight: 400;
    font-size: 20px;
}
.shopcar_table table tbody tr td:nth-child(4){
    color: #f10180;
    font-weight: bold;
    font-family: Microsoft YaHei!important;
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid #e0e0e0;
}
.shopcar_table table tbody tr td:nth-child(5){
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    cursor: pointer;
}
/* 购物车主题内容结束 */